@use "./variables" as *;

.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}

.shadow {
    box-shadow: 0 1rem 2.5rem 0 var(--shadow-color);
}

.correct,
.incorrect {
    color: $color-white !important;
}

.correct {
    background-color: $color-green !important;
}

.incorrect {
    background-color: $color-red !important;
}

.font-regular {
    font-weight: normal;
}

.font-medium {
    font-weight: 500;
}

.font-bold {
    font-weight: bold;
}