$fs-display: 9rem;
$fs-large: 4rem;
$fs-medium: 2.25rem;
$fs-small: 1.75rem;
$fs-body-medium: 1.5rem;
$fs-body-small: 1.25rem;

$color-dark-navy: hsl(216, 25%, 25%);
$color-navy: hsl(215, 27%, 32%);
$color-gray-navy: hsl(219, 13%, 44%);
$color-light-blue: hsl(216, 47%, 78%);
$color-light-gray: hsl(220, 38%, 97%);
$color-white: hsl(0, 0%, 100%);
$color-purple: hsl(277, 91%, 56%);
$color-red: hsl(0, 82%, 63%);
$color-green: hsl(151, 70%, 50%);

$color-html: hsl(22, 100%, 96%);
$color-css: hsl(151, 88%, 94%);
$color-js: hsl(225, 100%, 96%);
$color-accessibility: hsl(278, 100%, 95%);